### Recall

1. `Integer`: negative, zero and positive numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ....

2. `Float`: It is a real number that can contain a fractional part. For example, 5.3, 3.14159, and 6.0 are all floats.

3. `String`: Text in between quotes -- either single or double quotes -- is a string. For example, 'ABC', "Coding", 'Python Program'

4. `Boolean`: It represents one of two values: True or False.

5. `None`: It is used to define a null variable.

You can always check the data type of any variable using the `type()` function. The below example shows how to use the type function in python.
```py
type(10)
type(10.5)
type("abc")

```

In [1]:
1+2

3

In [2]:
 a= 5

In [8]:
b = a

In [9]:
b

5

In [10]:
b = 6

In [7]:
a

5

In [12]:
b

6

In [ ]:
True, False

In [1]:
type(10)

int

In [2]:
type(10.5)

float

In [5]:
type('1')

str

In [ ]:
type(10)
type(10.5)
type("abc")

In [ ]:
type()

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

### Table of contents
<a id="toc"></a>
- [Built in functions](#build_in_functions)
- [Operator and Variables](#expression_and_varaibles)
    - [Expression](#expression)
    - [Variables](#variables)
        - [Declearing Multple Variable in a Line](#a)
    - [input function](#input)

## Built in functions

<a id='build_in_functions'> </a>

[python documentation](https://docs.python.org/3.9/library/functions.html)

<img src="photos/photo_2023-12-09_21-51-54.jpg" width="600" align="center">

In [6]:
abs(-1)

1

In [7]:
type(10)

int

### Operator and Variables
<a id='expression_and_varaibles'> </a>
#### Operator
<a id='expression'> </a>
<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

#### Python Arithmetic Operators
- **+:** The addition operator

- **-:** The minus operator.

- **\*:** The multiplication operator.

- **/:** The division operator.

- **\**:** The exponentiation operator.

- **%:** The modulus operator.

In [8]:
1+1

2

In [9]:
2-4

-2

In [10]:
2*3

6

In [11]:
2**(2)

4

In [12]:
2**(1/2)

1.4142135623730951

In [14]:
2**(1/3)

1.2599210498948732

In [15]:
4**(2/3)

2.5198420997897464

In [16]:
23%2

1

In [17]:
22%2

0

### Comperison Oparetors

 we use comparison operators to compare two values. We check if a value is greater or less or equal to other value. The following table shows Python comparison operators which was taken from [w3shool](https://www.w3schools.com/python/python_operators.asp).
 
 <img src="photos/photo_2023-12-09_22-33-23.jpg" width="400" align="center">

In [18]:
2==2

True

In [19]:
2>2

False

In [20]:
2!=2

False

In [21]:
2>=2

True

#### Logical Expressions

<img src="photos/photo_2023-12-09_22-00-08.jpg" width="600" align="center">

In [23]:
print('Addition:', 1+2)

Addition: 3

In [22]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)

Addition:  3
Subtraction:  1

In [24]:
8//2

4

In [25]:
9//2

4

In [26]:
# Integer
print('Addition: ', 1 + 2)        
print('Subtraction: ', 2 - 1)     
print('Multiplication: ', 2 * 3)  
print ('Division: ', 4 / 2)    
print('Division: ', 6 / 2)           
print('Division: ', 7 / 2)      
print('Division without the remainder: ', 7 // 2)   
print ('Division without the remainder: ',7 // 3)   
print('Modulus: ', 3 % 2)        
print('Exponentiation: ', 2 ** 3)

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

<a id='varaible'> </a>
### Variable 
**Python Variable:** is contrainers that store value. Python is not **Statically typed**.\
We do not need to declare variables before using them or declare their type.

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

Here are some example of valid variable names:

In [ ]:
firstname = first_name
lastname = last-name
age
country
city
first_name
last_name
capital_city
_if # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2

In [42]:
firstname

'Sok'

In [34]:
firstname = 'Manon'
firstname

'Manon'

In [31]:
age = 23

In [39]:
print(age)
print(firstname)

23
Manon

In [40]:
firstname = 'Sok'

In [41]:
firstname

'Sok'

In [36]:
country = 'Cambodia'
country

'Cambodia'

In [33]:
city = 'PP'

In [29]:
firstname

'Manon'

In [43]:
print('My name is:', firstname)

My name is: Sok

In [ ]:
print('My name is')

In [ ]:
##Invalid variables names
first-name
first@name
first$name
num-1
1num

<a id='a'> </a>
### Declaring Mutiple Variable in a Line

In [44]:
first_name, last_name, country, age, is_married = 'Manon', 'Ya', 'Phnom Penh', 25, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Manon Ya Phnom Penh 25 False
First name: Manon
Last name:  Ya
Country:  Phnom Penh
Age:  25
Married:  False

In [45]:
first_name

'Manon'

In [47]:
x = 5
y = 10
z = x + y

In [48]:
x

5

In [49]:
y

10

In [50]:
z

15

In [53]:
a = 1
b = 2

In [54]:
print('this is ', a)
print('This is ', b)
print( "This is (a- b)", a-b)
print('This is (a * b)', a*b)
print('This is (a+b)', a+ b)

this is  1
This is  2
This is (a- b) -1
This is (a * b) 2
This is (a+b) 3

area = 0.5 * base * height

In [51]:
b = 3221412895713587483631513
h = 314813956431
area = 0.5 * b * h
print('This is Area of Triangle ', area)

This is Area of Triangle  5.070728694987195e+35

In [ ]:
b1 = 
a1 =
Area_rectangle =

In [55]:
name = 'Manon'
age = 23
print('My name is ', name);
print('My age:', age)

My name is  Manon
My age: 23

In [56]:
print('My name is:', name, 'my age:', age)

My name is: Manon my age: 23

In [58]:
print(f'My name is: {name} my age: {age}')

My name is: Manon my age: 23

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

## Input Function
`input()` function is used to take user input. By default, it returns the user input in form of a string. input() Function.

In [ ]:
type
print()

In [ ]:
a = 5

In [63]:
a = int(input('Please in the number:'))

Please in the number:23

In [66]:
float(input('Please in your age:'))

Please in your age:23.2

23.2

In [68]:
b = float(input('Input b:'))
h = float(input('Input h:'))
area = 0.5 * b * h
print('This is Area of Triangle ', area)

Input b:3444
Input h:34434
This is Area of Triangle  59295348.0

In [64]:
type(a)

int

In [13]:
print('== Addition, Subtraction, Multiplication, Division, Modulus ==')
# Declaring values and organizing them together
num_one = float(input('Input num_one:'))
num_two = float(input('Input num_two:'))

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

== Addition, Subtraction, Multiplication, Division, Modulus ==
Input num_one:12
Input num_two:23

In [14]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  35.0
difference:  11.0
product:  276.0
division:  1.9166666666666667
remainder:  11.0

### Example 1

1. Write a python comment saying 'Day 2: of python programming'
2. Declare a first name variable and assign a value to it
3. Declare a last name variable and assign a value to it
4. Declare a full name variable and assign a value to it
5. Declare a country variable and assign a value to it
6. Declare a city variable and assign a value to it
7. Declare an age variable and assign a value to it
8. Declare a year variable and assign a value to it
9. Declare a variable is_married and assign a value to it
10. Declare a variable is_true and assign a value to it
11. Declare a variable is_light_on and assign a value to it
12. Declare multiple variable on one line

### Example 2

1. Check the data type of all your variables using type() built-in function
2. Using the len() built-in function, find the length of your first name
3. Compare the length of your first name and your last name
    - Declare 5 as num_one and 4 as num_two
    - Add num_one and num_two and assign the value to a variable total
    - Subtract num_two from num_one and assign the value to a variable diff
    - Multiply num_two and num_one and assign the value to a variable product
    - Divide num_one by num_two and assign the value to a variable division
    - Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
    - Calculate num_one to the power of num_two and assign the value to a variable exp
    - Find floor division of num_one by num_two and assign the value to a variable floor_division
5. The radius of a circle is 30 meters.
    - Calculate the area of a circle and assign the value to a variable name of area_of_circle
    - Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
    - Take radius as user input and calculate the area.

5. The radius of a circle is 30 meters.
    - Calculate the area of a circle and assign the value to a variable name of area_of_circle
    - Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
    - Take radius as user input and calculate the area.

In [ ]:
import math as m
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

In [26]:
r = float(input('R :'))
are_cicle = m.pi * r**2
print('Are of cicle : ', numpy.round(are_cicle, 2))

R :3
Are of cicle :  28.27

In [24]:
r = float(input('R :'))
are_cicle = m.pi * r**2
print('Are of cicle : ', round(are_cicle))

R :3
Are of cicle :  28

In [19]:
are_cicle

28.274333882308138