# Lists in Python


#### Objectives

After completing this lab you will be able to:

*   Perform list operations in Python, including indexing, list manipulation, and copy/clone list.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-thttps://op/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_https://co/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01ntent=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01: 20px">
  
- [Lists](#lists)
    - [Indexing](#indexing)
    - [List content](#list_content)
    - [List Operations](#list_operations)
</div>

<!-- <h2 id="#dataset">About the Dataset</h2>
 -->

<!-- Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleet wood Mac</td>
    <td> Rumours </td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>
 -->

<hr>

<h2 id="lists">Lists</h2>

<h3 id="indexing">Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="500">

We can use negative and regular indexing with a list:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="500">

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [1]:
my_string = "apple,banana,grape"
list1 = my_string.split(',')

In [2]:
list1[0]

'apple'

In [3]:
list1[1]

'banana'

In [4]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [6]:
string = 'Hello'
len(string)

5

In [7]:
string[0]

'H'

In [5]:
len(my_list)

4

In [ ]:
type(my_list)

In [8]:
my_list1 = [12.0, 1213.003214,
            321431,3414, 134143,
            3123124, 134141, 313,
            414, 1431,31,3, 1341,
            31, 434]

In [9]:
len(my_list1)

15

In [ ]:
max()
min()

In [10]:
min(my_list1)

3

In [11]:
max(my_list1)

3123124

In [12]:
ls = [12342, [3241], 34341, [12, 23]]

In [14]:
type(ls)

list

In [15]:
len(ls)

4

In [16]:
ls1 = [[12, 232], [2321, 3112]]
ls1

[[12, 232], [2321, 3112]]

In [17]:
len(ls1)

2

In [18]:
ls1[0]

[12, 232]

In [19]:
len(ls1[0])

2

In [20]:
ls2 = [1, [313, [3131, 3141, [[31311]]]], 4321, 321341, [131, [331]]]
len(ls2)

5

In [22]:
len(ls2[1])

2

In [24]:
len(ls2[-1])

2

In [ ]:
# import matplotlib.pyplot as plt
# plt.plot([1, 2, 4,5], [34, 331, 31, 131])

In [ ]:
343254325254829457823987544238875**353265723854

In [25]:
# Sample List

L = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1), {'df':1}]

In [30]:
L[4]

('A', 1)

In [31]:
L[0:4:2]

['Michael Jackson', 1982]

<h1 id="op">List Operations</h1>

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1, 3223]

In [ ]:
L[0]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

In [ ]:
# List slicing
L[3:5]

In [ ]:
L[3:4]

## List Methods

1. append()
2. extend()
3. insert()
4. index()
5. count()
6. remove()
7. pop()
8. clear()
9. reverse()
10. sort()

### Extend

We can use the method <code>extend</code> to add new elements to the list:

In [32]:
L = [ "Michael Jackson", 10.2]
L.extend([10])

In [34]:
L.extend([12, 10])

In [35]:
L

['Michael Jackson', 10.2, 10, 12, 10]

### Append

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [38]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [46]:
L.append(20)

In [47]:
L

['Michael Jackson', 10.2, ['pop', 10], 20, 20, 20, 20]

Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [48]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

If we append the list  <code>\['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:

A = ["disco", 10, 1.2]

In [ ]:
A

In [ ]:
print('Before change:', A)

In [ ]:
A[0]

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

### insert()
Insert an element at a specific index

### index ()
Returns the index of the first occurrence of a value.

### count()
Returns the number of a value on the list

### remove() 
Removes the first occurrence of a value from the list.

### pop() 
Removes and returns the element at a specific index.

### clear()
Removes all elements from the list

### reverse()
Reverses the element of of the list in place.

### sort()
Sort the elements of the list in ascending order.

## Function in the list

1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. all()
7. list()

In [50]:
list3 = [1,2, 3]
len(list3)

3

In [51]:
max(list3)

3

In [52]:
min(list3)

1

In [53]:
sum(list3)

6

In [58]:
sum(list3)/len(list3)

2.0

In [66]:
np.round(7/3, 3)

2.333

In [55]:
import numpy as np

In [ ]:
np.round()

**Exercise:** Profit on Vehicles Sold Last Month by the Applewood Auto Group

```python
profits = [
    1387, 2148, 2201, 963, 820, 2230, 3043, 2584, 2370, 1754,
    2207, 996, 1298, 1266, 2341, 1059, 2666, 2637, 1817, 2252,
    2813, 1410, 1741, 3292, 1674, 2991, 1426, 1040, 1428, 323,
    1553, 1772, 1108, 1807, 934, 2944, 1273, 1889, 352, 1648,
    1932, 1295, 2056, 2063, 2147, 1529, 1166, 482, 2071, 2350,
    1344, 2236, 2083, 1973, 3082, 1320, 1144, 2116, 2422, 1906,
    2928, 2856, 2502, 1951, 2265, 1485, 1500, 2446, 1952, 1269,
    2989, 783, 2692, 1323, 1509, 1549, 369, 2070, 1717, 910,
    1538, 1206, 1760, 1638, 2348, 978, 2454, 1797, 1536, 2339,
    1342, 1919, 1961, 2498, 1238, 1606, 1955, 1957, 2700, 443,
    2357, 2127, 294, 1818, 1680, 2199, 2240, 2222, 754, 2866,
    2430, 1115, 1824, 1827, 2482, 2695, 2597, 1621, 732, 1704,
    1124, 1907, 1915, 2701, 1325, 2742, 870, 1464, 1876, 1532,
    1938, 2084, 3210, 2250, 1837, 1174, 1626, 2010, 1688, 1940,
    2639, 377, 2279, 2842, 1412, 1762, 2165, 1822, 2197, 842,
    1220, 2626, 2434, 1809, 1915, 2231, 1897, 2646, 1963, 1401,
    1501, 1640, 2415, 2119, 2389, 2445, 1461, 2059, 2175, 1752,
    1821, 1546, 1766, 335, 2886, 1731, 2338, 1118, 2058, 2487
]
```
1. Calculate and print the maximum profit among all vehicles sold last month.
2. Calculate and print the minimum profit among all vehicles sold last month.
3. Calculate and print the total profit for the month.
4. Calculate and print the average profit.

In [67]:
profits = [
    1387, 2148, 2201, 963, 820, 2230, 3043, 2584, 2370, 1754,
    2207, 996, 1298, 1266, 2341, 1059, 2666, 2637, 1817, 2252,
    2813, 1410, 1741, 3292, 1674, 2991, 1426, 1040, 1428, 323,
    1553, 1772, 1108, 1807, 934, 2944, 1273, 1889, 352, 1648,
    1932, 1295, 2056, 2063, 2147, 1529, 1166, 482, 2071, 2350,
    1344, 2236, 2083, 1973, 3082, 1320, 1144, 2116, 2422, 1906,
    2928, 2856, 2502, 1951, 2265, 1485, 1500, 2446, 1952, 1269,
    2989, 783, 2692, 1323, 1509, 1549, 369, 2070, 1717, 910,
    1538, 1206, 1760, 1638, 2348, 978, 2454, 1797, 1536, 2339,
    1342, 1919, 1961, 2498, 1238, 1606, 1955, 1957, 2700, 443,
    2357, 2127, 294, 1818, 1680, 2199, 2240, 2222, 754, 2866,
    2430, 1115, 1824, 1827, 2482, 2695, 2597, 1621, 732, 1704,
    1124, 1907, 1915, 2701, 1325, 2742, 870, 1464, 1876, 1532,
    1938, 2084, 3210, 2250, 1837, 1174, 1626, 2010, 1688, 1940,
    2639, 377, 2279, 2842, 1412, 1762, 2165, 1822, 2197, 842,
    1220, 2626, 2434, 1809, 1915, 2231, 1897, 2646, 1963, 1401,
    1501, 1640, 2415, 2119, 2389, 2445, 1461, 2059, 2175, 1752,
    1821, 1546, 1766, 335, 2886, 1731, 2338, 1118, 2058, 2487
]

In [68]:
len(profits)

180

### 1. Calculate and print the maximum profit among all vehicles sold last month.

In [69]:
max(profits)

3292

### 2. Calculate and print the minimum profit among all vehicles sold last month.

In [70]:
min(profits)

294

### 3. Calculate and print the total profit for the month.

In [71]:
sum(profits)

331770

### 4. Calculate and print the average profit.

In [73]:
import numpy as np

In [75]:
average_profits = sum(profits)/len(profits)

In [76]:
np.round(average_profits, 3)

1843.167

In [82]:
print('Average Profits:', np.round(average_profits, 3),'$')

Average Profits: 1843.167 $

In [84]:
print(f'Average Profits: {np.round(average_profits, 3$')

Average Profits: 1843.167$

In [85]:
profits.extend([1766, 335, 2886, 1731, 2338, 1118, 2058, 2487])

In [87]:
len(profits)

188