<div style="padding:20px;
            color:white;
            margin:10;
            font-size:170%;
            text-align:left;
            display:fill;
            border-radius:5px;
            background-color:#CA6F1E;
            overflow:hidden;
            font-weight:700"><span style='color:#283747'></span>"Plan" </div>

### Objective 
To compare the housing market trends over time(period_begin) between Los Angeles and San Francisco.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

- [1. Exploring The Dataset](#a)
    - [1.1 Load The Datset](#1.1)
    - [1.2 Data Description](#1.2)
- [2. Data Cleaning](#2)
    - [2.1 Missing Value](#2.1)
    - [2.2 Duplicated](#2.2)
    - [2.3 Outliter](#2.3)
    
- [Q&A](#3)

<!-- 1. Display rows with odd indices in the dataset.
2. Display rows with even indices in the dataset.
3. 

    a. Check Datatype of Each Column

    b. How many rows and columns are there in our Dataset?
    
4. 
- Which columns in the dataset contain missing values, and how many missing values are in each?
- What is the percentage of missing values in each column?
- Please remove it

5. Highest and Lowest Purchase Prices(columns 'median_active_list_price').
6. Display rows that `n%7 =0` and twos columns `['median_active_list_price', 'months_of_supply']`.
7. How many county (State in USA) are provided California (CA) in dataset, and show County ?
8. How many regions are provided for specific states like Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc.?
9. 

    a. Calculate the age of each home (subtract 'period_begin' from 'period_end').
    
    b. Create a new column to store the result from 9a.
    
10. Delete columns that are not important to us, such as: 
```py
['period_begin', 'period_end', 'total_homes_sold',
       'inventory', 'active_listings', 'age_of_inventory']

```

 -->

### 1. Exploring the Dataset

#### 1.1 Load the Dataset

In [6]:
df = pd.read_csv('/Users/macbook/Documents/GitHub/Python_for_Data-Science-AI-/Dataset/housing_data.csv')

In [8]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000

#### 1.2 Data Description or Data  inspection

In [7]:
###Display Top Rows

In [9]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000

In [10]:
### Display Bottom Rows

In [11]:
df.tail()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
622334,"Washita County, OK",2019-11-25,2020-02-16,NaN,4.0,4.0,133.0,46650.0,NaN
622335,"Gray County, TX",2019-02-25,2019-05-19,NaN,1.0,1.0,180.5,62500.0,NaN
622336,"Custer County, OK",2020-02-24,2020-05-17,NaN,15.0,15.0,52.7,130120.8,NaN
622337,"Choctaw County, MS",2019-12-30,2020-03-22,NaN,2.0,3.0,46.0,115268.7,NaN
622338,"Morehouse Parish, LA",2022-02-14,2022-05-08,NaN,30.0,33.0,59.7,139979.1,NaN

In [12]:
### Check name columns of our dataset

In [13]:
df.columns

Index(['region_name', 'period_begin', 'period_end', 'total_homes_sold',
       'inventory', 'active_listings', 'age_of_inventory',
       'median_active_list_price', 'months_of_supply'],
      dtype='object')

In [14]:
df.loc[::7, ['median_active_list_price', 'months_of_supply']]

        median_active_list_price  months_of_supply
0                       136195.8               NaN
7                       152850.0         11.700912
14                      464357.2          4.961007
21                       95816.6         16.777778
28                      198904.1          8.175049
...                          ...               ...
622307                   82983.3         12.500000
622314                 2975000.0               NaN
622321                  351450.0               NaN
622328                  130000.0               NaN
622335                   62500.0               NaN

[88906 rows x 2 columns]

In [15]:
df.dtypes

region_name                  object
period_begin                 object
period_end                   object
total_homes_sold            float64
inventory                   float64
active_listings             float64
age_of_inventory            float64
median_active_list_price    float64
months_of_supply            float64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622339 entries, 0 to 622338
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   region_name               622339 non-null  object
 1   period_begin              622339 non-null  object
 2   period_end                622339 non-null  object
 3   total_homes_sold          567839 non-null  float64
 4   inventory                 616247 non-null  float64
 5   active_listings           616905 non-null  float64
 6   age_of_inventory          616247 non-null  float64
 7   median_active_list_price  616513 non-null  float64
 8   months_of_supply          561319 non-null  float64
dtypes: float64(6), object(3)
memory usage: 42.7+ MB

In [17]:
df.describe()

,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
count,567839.000000,616247.000000,616905.000000,616247.000000,6.165130e+05,561319.000000
mean,465.184219,415.449284,454.787632,76.823044,2.712133e+05,18.894937
std,1216.840272,1176.440133,1278.428643,42.818934,4.375623e+06,29.910629
min,1.000000,1.000000,1.000000,0.000000,1.258500e+03,0.025958
25%,17.000000,18.000000,19.000000,48.900000,1.406041e+05,9.663503
50%,77.000000,79.000000,85.000000,68.100000,2.038583e+05,15.471320
75%,344.000000,312.000000,341.000000,93.300000,2.960407e+05,23.408333
max,24385.000000,23357.000000,25012.000000,365.000000,1.000000e+09,1849.000000

In [18]:
# display_divied_7 = df.loc[0::7,['median_active_list_price','months_of_supply']]

### 2. Data Cleaning
#### 2.1 Missing values

- Check for Missing Values: `df.isnull().sum()`

- Fill Missing Values: `df.fillna(value)`

- Drop Missing Values: `df.dropna()`

In [19]:
### Check for missing values:
df.isnull().sum()

region_name                     0
period_begin                    0
period_end                      0
total_homes_sold            54500
inventory                    6092
active_listings              5434
age_of_inventory             6092
median_active_list_price     5826
months_of_supply            61020
dtype: int64

In [20]:
## Drop missing values
df = df.dropna()

#### 2.2 Duplicated
- Check duplicated: `df.duplicated().sum()`
- Drop duplicated:`df.drop_duplicates()`

In [23]:
# Check duplicated
df.duplicated().sum()

0

In [24]:
# Drop duplicated
df = df.drop_duplicates()

#### 2.3 Rename columns
- Rename Columns: `df.rename(columns={'old_name': 'new_name'})` 
- Drop Columns: `df.drop(columns=['column_name'])`