In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Python_for_Data_Science/main/Dataset/housing_data.csv')


8. How many county (State in USE) are provided California (CA) in dataset?
9. How many regions are provided for specific states like Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc.?

In [4]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",4/27/2020,7/19/2020,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",8/27/2018,11/18/2018,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",9/23/2019,12/15/2019,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",10/9/2017,12/31/2017,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",1/9/2017,4/2/2017,12.0,54.0,55.0,151.2,158062.5,38.300000

## Str in pandas

In [12]:
df_CA = df[df['region_name'].str.contains('CA')]

In [23]:
df_CA['region_name'].str.split(',').str[0].str.split().str[0]

6         Sacramento
164           Nevada
252       Stanislaus
293           Tehama
304       Stanislaus
             ...
622099        Merced
622118        Lassen
622159           Los
622195      Imperial
622302           San
Name: region_name, Length: 15228, dtype: object

In [24]:
df['region_name'].str.split(',')

0           [Appling County,  GA]
1            [Tooele County,  UT]
2           [Johnson County,  TX]
3            [Holmes County,  OH]
4           [Madison County,  FL]
                   ...
622334      [Washita County,  OK]
622335         [Gray County,  TX]
622336       [Custer County,  OK]
622337      [Choctaw County,  MS]
622338    [Morehouse Parish,  LA]
Name: region_name, Length: 622339, dtype: object