## Project

#### 1. Understanding the Dataset

**Objective:** Familiarize yourself with the dataset's structure and the type of information it contains.

    Tasks:
    - Identify the variables and their data types.
    - Determine the number of entries in the dataset.
    - Check for missing values.
#### 2. Data Cleaning
    - Handle missing values, if any.
#### 3. Exploratory Data Analysis (EDA)
**Objective:** Explore the data to uncover initial insights and identify patterns.

    Tasks:
    - Analyze the distribution of salaries across different job titles(just three type such as ```['Data Scientist', 'Data Engineer', 'Data Analyst']), experience levels, and company sizes.
    - Explore the relationship between remote work ratio and salary.
    - Investigate trends over the work years provided in the dataset.

#### 4. In-depth Analysis
**Objective:** Conduct specific analyses to answer research questions

    Tasks:
    - just three type such as ```['Data Scientist', 'Data Engineer', 'Data Analyst']
    - Compare median salaries across different regions and company sizes.
    - Analyze the impact of experience level on salary in different job roles(just three type such as ```['Data Scientist', 'Data Engineer', 'Data Analyst']).
#### 5. Reporting and Insights
**Objective:** Summarize findings and provide actionable insights based on the analysis.

    Tasks:
    - Write a report summarizing key findings from the analyses.
    - Highlight any surprising patterns or trends.
    - Offer recommendations for job seekers in the data science field.

#### 1. Understanding the Dataset

**Objective:** Familiarize yourself with the dataset's structure and the type of information it contains.

    Tasks:
    - Identify the variables and their data types.
    - Determine the number of entries in the dataset.
    - Check for missing values.

In [16]:
df = pd.read_csv('ds_salaries.csv')

In [18]:
df.columns

Index(['id', 'work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [17]:
df.head()

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
Analyze the impact of experience level on salary in different job roles().