### Table of contents
<a id="toc"></a>
- [Loops](#loops)
    - [While Loop](#while-loop)
    - [Break and Continue - Part 1](#break-and-continue---part-1)
    - [For Loop](#for-loop)
    - [Break and Continue - Part 2](#break-and-continue---part-2)
    - [The Range Function](#the-range-function)
    - [Nested For Loop](#nested-for-loop)
    - [For Else](#for-else)
    - [Pass](#pass)

<a id='loops'></a>
# Loops
Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

1. while loop
2. for loop

<a id='while-loop'></a>
## While Loop

We use the reserved word _while_ to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

```py
  # syntax
while condition:
    code goes here
```

In [ ]:
x = 2

In [ ]:
x = x + 1
x

In [ ]:
x = x + 1
x

In [ ]:
x  = x + 3
x

In [1]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [2]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [3]:
count = 1
while count <= 6:
    print(count)
    count = count * 2

1
2
4

In [1]:
# count = 1
# while count <= 6:
#     print(count)
#     count = count/2

In [1]:
count = 1
while count <= 6:
    print(count)
    count = count + 2

1
3
5

In [2]:
count = 2
while count < 6:
    print(count)
    count = count + 1

2
3
4
5

In [3]:
password = "secret"
guess = ""
while guess != password:
    guess = input("Enter the password: ")
    print('Wrong password!')
print("Access granted!")

Enter the password: secret
Wrong password!
Access granted!

In [4]:
def loop_of_number(count):
    while count < 5:
        print(count)
        count += 1

In [5]:
sum = 0
num = 1
while num <= 10:
    sum = sum + num
    num += 1
print("Sum:", sum)

Sum: 55

In the above while loop, the condition becomes false when count is 5. That is when the loop stops.
If we are interested to run block of code once the condition is no longer true, we can use _else_.

```py
  # syntax
while condition:
    code goes here
else:
    code goes here
```

In [6]:
count = 0
while count < 5:
    print('This ture statement')
    print(count)
    count = count + 1
else:
    print('This false statement')
    print(count)

This ture statement
0
This ture statement
1
This ture statement
2
This ture statement
3
This ture statement
4
This false statement
5

<a id='break-and-continue-part1'></a>
### Break and Continue - Part 1

- Break: We use break when we like to get out of or stop the loop.

```py
# syntax
while condition:
    code goes here
    if another_condition:
        break
```

In [8]:
count = 0
while count < 10:
    print(count)
    count = count + 1
    if count == 3:
        break

0
1
2

In [9]:
count = 0
while count < 4:
    print(count)
    count = count + 1
    if count == 2:
        break

0
1

In [11]:
count = 0
while count <= 4:
    print(count)
    count = count + 2
    if count == 5:
        break

0
2
4

The above while loop only prints 0, 1, 2, but when it reaches 3 it stops.

- Continue: With the continue statement we can skip the current iteration, and continue with the next:

```py
  # syntax
while condition:
    code goes here
    if another_condition:
        continue
```

In [15]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 2

0
2
4

In [20]:
count = 0
while count < 7:
    if count == 3:
        count = count + 2
        continue
    print(count)
    count = count + 2

0
2
4
6

In [21]:
count = 0
while count < 7:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 2

0
2
4
6

In [23]:
count = 0
while count < 7:
    if count == 3:

        continue
    print(count)
    count = count + 1

0
1
2

KeyboardInterrupt:

In [ ]:
a = 3

In [ ]:
a = 4

In [12]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

0
1
2
4

In [19]:
count = 0
while count < 10:
    if count == 4:
        count = count + 1
        continue
    print(count)
    count = count + 1

0
1
2
3
5
6
7
8
9

The above while loop only prints 0, 1, 2 and 4 (skips 3).

In [ ]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1

<a id='for-loop'></a>
## For Loop

A _for_ keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. Loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- For loop with list

```py
# syntax
for iterator in lst:
    code goes here
```

In [24]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers:
    print(number)

0
1
2
3
4
5

In [25]:
numbers = [3542, 1, 2, 3, 4, 5]
for i in numbers:
    print(i)

3542
1
2
3
4
5

In [31]:
numbers = [3542, 1, 2, 3, 4, 5]
numbers[0]

3542

In [32]:
numbers[0:3]

[3542, 1, 2]

In [33]:
numbers[0:]

[3542, 1, 2, 3, 4, 5]

In [35]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for a in numbers:
    if a % 2 ==0:
        print(a)

2
4
6
8
10

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for a in numbers:
    if a % 2 == 1:
        print(a)

1
3
5
7
9

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for a in numbers:
    print(a)

In [34]:
print('a')
print('b')

a
b

- For loop with string

```py
# syntax
for iterator in string:
    code goes here
```

In [27]:
language = 'Python'
for letter in language:
    print(letter)

P
y
t
h
o
n

In [30]:
text = "Hello, world!"
for i in text:
    print(i)

H
e
l
l
o
,

w
o
r
l
d
!

In [ ]:
for i in range(len(language)):
    print(language[i])

In [ ]:
for i in range(len(language)):
    print(language[i])

- For loop with tuple

```py
# syntax
for iterator in tpl:
    code goes here
```

In [37]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

- For loop with dictionary

  Looping through a dictionary gives you the key of the dictionary.
  
 
```py
  # syntax
for iterator in dct:
    code goes here
```

In [39]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}

In [40]:
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [41]:
for key in person:
    print(key)

first_name
last_name
age
country
is_marred
skills
address

In [43]:
person.values()

dict_values(['Asabeneh', 'Yetayeh', 250, 'Finland', True, ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], {'street': 'Space street', 'zipcode': '02210'}])

In [42]:
for value in person.values():
    print(value)

Asabeneh
Yetayeh
250
Finland
True
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
{'street': 'Space street', 'zipcode': '02210'}

In [44]:
person.items()

dict_items([('first_name', 'Asabeneh'), ('last_name', 'Yetayeh'), ('age', 250), ('country', 'Finland'), ('is_marred', True), ('skills', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']), ('address', {'street': 'Space street', 'zipcode': '02210'})])

In [45]:
for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

- Loops in set

```py
# syntax
for iterator in st:
    code goes here
```

In [46]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

Facebook
Google
IBM
Microsoft
Oracle
Apple
Amazon

<a id='break-and-continue-part2'></a>
### Break and Continue - Part 2

Short reminder:
_Break_: We use break when we like to stop our loop before it is completed.

```py
# syntax
for iterator in sequence:
    code goes here
    if condition:
        break
```

In [50]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [52]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [53]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

In [48]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 2:
        break

0
1
2

In [49]:
numbers = (0,1,43532,43532,4,5)
for number in numbers:
    print(number)
    if number == 2:
        break

0
1
43532
43532
4
5

In the above example, the loop stops when it reaches 3.

Continue: We use continue when we like to skip some of the steps in the iteration of the loop.

```py
  # syntax
for iterator in sequence:
    code goes here
    if condition:
        continue
```

In [54]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
    if number % 2 == 0:
        continue  # Skip even numbers
    print(number)

1
3
5
7
9

In [56]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
    if number % 2 == 1:
        continue  # Skip odd numbers
    print(number)

2
4
6
8
10

In [ ]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

In [57]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [58]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue

0
1
2
3
4
5

In the example above, if the number equals 3, the step *after* the condition (but inside the loop) is skipped and the execution of the loop continues if there are any iterations left.

<a id='the-range-function'></a>
### The Range Function

The _range()_ function is used list of numbers. The _range(start, end, step)_ takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end).
Creating sequences using range


```py
# syntax
for iterator in range(start, end, step):
```

In [60]:
range(11)

range(0, 11)

In [63]:
number = [1, 2, 3,4,5]
number[:3]

[1, 2, 3]

In [64]:
number[0:3]

[1, 2, 3]

In [59]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

0
1
2
3
4
5
6
7
8
9
10

In [66]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

In [67]:
my_list

[1, 2, 3, 4, 5]

In [71]:
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [80]:
for num in range(1, 11):
    if num %2 ==0:
        continue
    if num == 1:
        break
    print(num)

In [81]:
for num in range(1, 11):
    print(num)
    if num %2 ==0:
        continue
    if num == 1:
        break

1

In [72]:
for num in range(1, 11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [83]:
for num in range(1, 11):
    print(num)
    if num % 2 == 0:
        break

1
2

In [75]:
for num in range(1, 11):
    print(num)
    if num % 2 == 0:
        break

1
2

In [68]:
lst = list(range(11)) 
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [70]:
lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

[0, 2, 4, 6, 8, 10]
{0, 2, 4, 6, 8, 10}

<a id='nested-for-loop'></a>
### Nested For Loop

We can write loops inside a loop.

```py
# syntax
for x in y:
    for t in x:
        print(t)
```

In [ ]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

<a id='for-else'></a>
### For Else

If we want to execute some message when the loop ends, we use else.

```py
# syntax
for iterator in range(start, end, step):
    do something
else:
    print('The loop ended')
```

In [ ]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)

<a id='pass'></a>
### Pass

In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word _pass_ to avoid errors. Also we can use it as a placeholder, for future statements.

In [ ]:
for number in range(6):
    pass

<a href="#toc" role="button" aria-pressed="true" >⬆️Back to Table of Contents ⬆️</a>