## Exercise1.
Given a list of numbers, 
```py
numbers = [45, 23, 67, 12, 89, 34]

```
a. find and print the minimum value.

b.  find and print the maximum value.

c. calculate and print the sum of all elements.

d. calculate and print the average.

e. add a new element (10, 12, 13, 24) to the list and print the updated list.

In [1]:
numbers = [45, 23, 67, 12, 89, 34]
print('Minimum value:', min(numbers))
print('Maximum value:', max(numbers))
print('Sum of all elements:', sum(numbers))
print('The average of all elements:', sum(numbers)/len(numbers))

Minimum value: 12
Maximum value: 89
Sum of all elements: 270
The average of all elements: 45.0

In [2]:
numbers.extend([10, 12, 13, 14])

In [3]:
numbers

[45, 23, 67, 12, 89, 34, 10, 12, 13, 14]

### Exericse2 
Given a list of numbers,

numbers1 = [1, 2, 3, 4, 2, 5, 2]

a. count and print the occurrences of a specific element.

b. remove any duplicates and print the updated list.

### count and print the occurrences of a specific element.

In [7]:
spcifit_element_count = 1
numbers1 = [1, 2,3, 4, 2, 5, 2]
numbers1.count(spcifit_element_count)

1

In [16]:
spcifit_element_count = int(input('Count number :'))
numbers1 = [1, 2,3, 4, 2, 5, 2]
numbers1.count(spcifit_element_count)

Count number :2

3

###  remove any duplicates and print the updated list.

In [10]:
numbers1

[1, 2, 3, 4, 2, 5, 2]

In [11]:
del numbers1[1]

In [12]:
numbers1

[1, 3, 4, 2, 5, 2]

In [14]:
del numbers1[-1]

In [17]:
numbers1

[1, 2, 3, 4, 2, 5, 2]

In [19]:
list(set(numbers1))

[1, 2, 3, 4, 5]

In [20]:
numbers1

[1, 2, 3, 4, 2, 5, 2]

In [21]:
numbers1.sort()

In [22]:
numbers1

[1, 2, 2, 2, 3, 4, 5]

In [23]:
numbers1.sort(reverse=True)

In [24]:
numbers1

[5, 4, 3, 2, 2, 2, 1]