In [25]:
import pandas as pd
import numpy as np

1. Display Top 5 Rows of The Dataset
2. Check Last 5 Rows of The Dataset
3. Check Datatype of Each Column
4. 
- Which columns in the dataset contain missing values, and how many missing values are in each?
- What is the percentage of missing values in each column?
- Please remove it
5. How many rows and columns are there in our Dataset?
6. Highest and Lowest Purchase Prices(columns 'median_active_list_price').
7. Average Purchase Price
8. How many county (State in USE) are provided California (CA) in dataset?
9. How many regions are provided for specific states like Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc.?

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Python_for_Data_Science/main/Dataset/housing_data.csv')

In [3]:
df

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",4/27/2020,7/19/2020,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",8/27/2018,11/18/2018,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",9/23/2019,12/15/2019,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",10/9/2017,12/31/2017,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",1/9/2017,4/2/2017,12.0,54.0,55.0,151.2,158062.5,38.300000
...,...,...,...,...,...,...,...,...,...
622334,"Washita County, OK",11/25/2019,2/16/2020,NaN,4.0,4.0,133.0,46650.0,NaN
622335,"Gray County, TX",2/25/2019,5/19/2019,NaN,1.0,1.0,180.5,62500.0,NaN
622336,"Custer County, OK",2/24/2020,5/17/2020,NaN,15.0,15.0,52.7,130120.8,NaN
622337,"Choctaw County, MS",12/30/2019,3/22/2020,NaN,2.0,3.0,46.0,115268.7,NaN
622338,"Morehouse Parish, LA",2/14/2022,5/8/2022,NaN,30.0,33.0,59.7,139979.1,NaN

In [5]:
df.head(10)

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",4/27/2020,7/19/2020,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",8/27/2018,11/18/2018,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",9/23/2019,12/15/2019,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",10/9/2017,12/31/2017,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",1/9/2017,4/2/2017,12.0,54.0,55.0,151.2,158062.5,38.300000
5,"Barry County, MO",11/23/2020,2/14/2021,79.0,70.0,77.0,82.8,196509.1,13.157870
6,"Sacramento County, CA",6/22/2020,9/13/2020,5107.0,1729.0,2206.0,27.5,445540.9,5.235794
7,"Clark County, KY",7/1/2019,9/22/2019,145.0,119.0,130.0,50.8,152850.0,11.700912
8,"Allendale County, SC",12/6/2021,2/27/2022,5.0,4.0,4.0,44.5,236833.3,4.000000
9,"Neosho County, KS",5/14/2018,8/5/2018,19.0,25.0,26.0,70.5,74787.5,17.453704

In [8]:
df.loc[[10000, 20000, 30000], ['region_name', 'period_begin']]

                region_name period_begin
10000  Jefferson County, AL    6/18/2018
20000      Wayne County, TN    6/21/2021
30000    Hopkins County, TX   12/17/2018

In [10]:
df.tail()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
622334,"Washita County, OK",11/25/2019,2/16/2020,NaN,4.0,4.0,133.0,46650.0,NaN
622335,"Gray County, TX",2/25/2019,5/19/2019,NaN,1.0,1.0,180.5,62500.0,NaN
622336,"Custer County, OK",2/24/2020,5/17/2020,NaN,15.0,15.0,52.7,130120.8,NaN
622337,"Choctaw County, MS",12/30/2019,3/22/2020,NaN,2.0,3.0,46.0,115268.7,NaN
622338,"Morehouse Parish, LA",2/14/2022,5/8/2022,NaN,30.0,33.0,59.7,139979.1,NaN


3. Check Datatype of Each Column

In [11]:
df.dtypes

region_name                  object
period_begin                 object
period_end                   object
total_homes_sold            float64
inventory                   float64
active_listings             float64
age_of_inventory            float64
median_active_list_price    float64
months_of_supply            float64
dtype: object


4. 
- Which columns in the dataset contain missing values, and how many missing values are in each?

In [12]:
df.isnull().sum()

region_name                     0
period_begin                    0
period_end                      0
total_homes_sold            54500
inventory                    6092
active_listings              5434
age_of_inventory             6092
median_active_list_price     5826
months_of_supply            61020
dtype: int64


- What is the percentage of missing values in each column?

In [16]:
100* df.isnull().sum()/len(df)

region_name                 0.000000
period_begin                0.000000
period_end                  0.000000
total_homes_sold            8.757285
inventory                   0.978888
active_listings             0.873158
age_of_inventory            0.978888
median_active_list_price    0.936146
months_of_supply            9.804946
dtype: float64


- Please remove it

In [17]:
df.dropna(inplace=True)

In [18]:
df.isnull().sum()

region_name                 0
period_begin                0
period_end                  0
total_homes_sold            0
inventory                   0
active_listings             0
age_of_inventory            0
median_active_list_price    0
months_of_supply            0
dtype: int64


5. How many rows and columns are there in our Dataset?

In [19]:
df.shape

(560915, 9)


6. Highest and Lowest Purchase Prices(columns 'median_active_list_price').

In [20]:
df.columns

Index(['region_name', 'period_begin', 'period_end', 'total_homes_sold',
       'inventory', 'active_listings', 'age_of_inventory',
       'median_active_list_price', 'months_of_supply'],
      dtype='object')

In [22]:
df['median_active_list_price'].max()

875005248.2

In [23]:
df['median_active_list_price'].min()

1258.5


7. Average Purchase Price

In [24]:
df['median_active_list_price'].mean()

255952.91599404553

In [30]:
np.round(23.4444344, 3)

23.444

In [32]:
np.round(df['median_active_list_price'].mean(), 2)

255952.92


8. How many county (State in USE) are provided California (CA) in dataset?

In [33]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
2,"Johnson County, TX",9/23/2019,12/15/2019,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",10/9/2017,12/31/2017,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",1/9/2017,4/2/2017,12.0,54.0,55.0,151.2,158062.5,38.300000
5,"Barry County, MO",11/23/2020,2/14/2021,79.0,70.0,77.0,82.8,196509.1,13.157870
6,"Sacramento County, CA",6/22/2020,9/13/2020,5107.0,1729.0,2206.0,27.5,445540.9,5.235794

Str in Series

In [36]:
'A B C'.split('B')

['A ', ' C']

In [38]:
A = 'Micheal Jachson'

In [39]:
A[1]

'i'

In [50]:
len(df[df['region_name'].str.contains('CA' )])

14828

In [43]:
df_each_region = df['region_name'].str.split(',').str[-1]

In [45]:
df_each_region.value_counts()

 TX    40234
 GA    36681
 VA    30906
 NC    24229
 OH    24154
 MN    23981
 IL    23097
 TN    22790
 MO    22621
 IN    22020
 WI    19913
 AR    18676
 FL    16511
 KY    15395
 OK    15353
 CA    14828
 NY    13066
 MI    12786
 MS    12636
 SC    12095
 CO    10847
 WA    10636
 AL    10132
 KS     9187
 PA     9054
 OR     9014
 ID     8861
 UT     6751
 MD     6672
 LA     6200
 NJ     5838
 IA     5553
 ME     4448
 NV     4082
 MA     3892
 VT     3892
 NE     3675
 NM     2991
 NH     2780
 AZ     2702
 SD     2562
 CT     2224
 WV     1946
 RI     1390
 AK     1390
 HI     1112
 DE      834
 DC      278
Name: region_name, dtype: int64

In [53]:
df[df['median_active_list_price']>=10000000]

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
20426,"Turner County, GA",11/2/2020,1/24/2021,1.0,1.0,1.0,145.1,10692229.1,2.0
20895,"Esmeralda County, NV",12/7/2020,2/28/2021,2.0,1.0,1.0,71.2,100037799.8,1.0
29238,"Turner County, GA",12/7/2020,2/28/2021,1.0,1.0,1.0,180.1,10692229.1,2.0
133493,"Esmeralda County, NV",12/14/2020,3/7/2021,2.0,1.0,1.0,66.4,200033599.6,1.0
162500,"Turner County, GA",12/14/2020,3/7/2021,1.0,1.0,1.0,176.7,10692229.1,2.0
202138,"Zavala County, TX",1/16/2017,4/9/2017,1.0,1.0,1.0,294.5,14000000.0,1.0
214670,"Esmeralda County, NV",1/18/2021,4/11/2021,2.0,1.0,1.0,42.0,700012598.6,1.0
222462,"Turner County, GA",11/30/2020,2/21/2021,1.0,1.0,1.0,173.1,10692229.1,2.0
244108,"Turner County, GA",11/9/2020,1/31/2021,1.0,1.0,1.0,152.1,10692229.1,2.0
249861,"Zavala County, TX",1/23/2017,4/16/2017,1.0,1.0,1.0,301.5,14000000.0,1.0
250526,"Zavala County, TX",1/30/2017,4/23/2017,1.0,1.0,1.0,308.5,14000000.0,1.0
282884,"Turner County, GA",10/26/2020,1/17/2021,1.0,1.0,1.0,138.1,10692229.1,2.0
301725,"Zavala County, TX",2/20/2017,5/14/2017,1.0,1.0,1.0,326.0,14000000.0,1.0
304214,"Zavala County, TX",1/2/2017,3/26/2017,1.0,1.0,1.0,280.5,14000000.0,1.0
306658,"Zavala County, TX",2/13/2017,5/7/2017,1.0,1.0,1.0,322.5,14000000.0,1.0
352718,"Esmeralda County, NV",12/21/2020,3/14/2021,2.0,1.0,1.0,61.6,300029399.4,1.0
355204,"Turner County, GA",11/16/2020,2/7/2021,1.0,1.0,1.0,159.1,10692229.1,2.0
363592,"Zavala County, TX",3/13/2017,6/4/2017,1.0,1.0,1.0,336.5,14000000.0,1.0
372130,"Esmeralda County, NV",2/1/2021,4/25/2021,2.0,1.0,1.0,22.5,875005248.2,1.0
422134,"Zavala County, TX",2/27/2017,5/21/2017,1.0,1.0,1.0,329.5,14000000.0,1.0
422619,"Turner County, GA",12/21/2020,3/14/2021,1.0,1.0,1.0,180.7,11253583.3,2.0
439257,"Esmeralda County, NV",1/25/2021,4/18/2021,2.0,1.0,1.0,34.1,777787109.5,1.0
481691,"Esmeralda County, NV",1/4/2021,3/28/2021,2.0,1.0,1.0,52.1,500020999.0,1.0
521281,"Turner County, GA",11/23/2020,2/14/2021,1.0,1.0,1.0,166.1,10692229.1,2.0
523160,"Zavala County, TX",1/9/2017,4/2/2017,1.0,1.0,1.0,287.5,14000000.0,1.0
523390,"Esmeralda County, NV",12/28/2020,3/21/2021,2.0,1.0,1.0,56.8,400025199.2,1.0
533596,"Zavala County, TX",2/6/2017,4/30/2017,1.0,1.0,1.0,315.5,14000000.0,1.0
547735,"Turner County, GA",1/4/2021,3/28/2021,1.0,1.0,1.0,188.6,12376291.6,2.0
551956,"Turner County, GA",1/11/2021,4/4/2021,1.0,1.0,1.0,182.2,12383308.3,2.0
558067,"Turner County, GA",12/28/2020,3/21/2021,1.0,1.0,1.0,184.7,11814937.5,2.0
559383,"Zavala County, TX",3/6/2017,5/28/2017,1.0,1.0,1.0,333.0,14000000.0,1.0
567421,"Esmeralda County, NV",1/11/2021,4/4/2021,2.0,1.0,1.0,47.3,600016798.8,1.0

In [54]:
df['median_active_list_price'].sum()

143567829874.80005

In [55]:
df['median_active_list_price'].min()

1258.5

In [56]:
df['median_active_list_price'].describe()

count    5.609150e+05
mean     2.559529e+05
std      2.230798e+06
min      1.258500e+03
25%      1.448916e+05
50%      2.076708e+05
75%      2.970019e+05
max      8.750052e+08
Name: median_active_list_price, dtype: float64

In [ ]:

9. How many regions are provided for specific states like Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc.?