In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Data_analysis_with_pandas/main/Data/housing_data.csv')

In [8]:
df1 = pd.read_csv('housing_data.csv')

In [23]:
print('Hello, World')

Hello, World

In [15]:
df1.isnull().sum()

region_name                 0
period_begin                0
period_end                  0
total_homes_sold            0
inventory                   0
active_listings             0
age_of_inventory            0
median_active_list_price    0
months_of_supply            0
dtype: int64

In [14]:
df1.dropna(inplace=True)

In [16]:
df1.to_csv('housing_final_data.csv', index=False)

In [17]:
df.columns

Index(['region_name', 'period_begin', 'period_end', 'total_homes_sold',
       'inventory', 'active_listings', 'age_of_inventory',
       'median_active_list_price', 'months_of_supply'],
      dtype='object')

In [19]:
df1[['months_of_supply','median_active_list_price' ]]

        months_of_supply  median_active_list_price
2              17.095583                  268737.6
3              34.050000                  115308.3
4              38.300000                  158062.5
5              13.157870                  196509.1
6               5.235794                  445540.9
...                  ...                       ...
622313         10.992834                  647883.0
622315          9.219697                  122793.7
622324         10.000000                   61741.6
622329          4.000000                  650000.0
622332          4.208333                   86304.1

[560915 rows x 2 columns]

In [22]:
df1.loc[[622313,622332]]

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
622313,"Boulder County, CO",1/15/2018,4/8/2018,973.0,746.0,838.0,44.9,647883.0,10.992834
622332,"Coke County, TX",1/20/2020,4/12/2020,10.0,4.0,4.0,25.8,86304.1,4.208333

In [11]:
df3 = df.loc[0:100, ]

In [13]:
df3.to_csv('housing_100row.csv', index=False)